<div class="bg-dark pl-2 pt-4 pr-2 pb-2">
  <h3 class="text-white">Registro de Agentes</h3>
</div>

<div class="container mt-3">

  <div class="card">
    <div class="mt-3 mb-3 mr-3 ml-3">

      <form>

        <div class="row">

          <div class="col">

            <div class="form-group">
              <label for="full_name_id" class="control-label">Cédula</label>
              <input type="text" class="form-control" id="cedula" name="cedula" placeholder="Cédula">
            </div>

            <div class="form-group">
              <label for="full_name_id" class="control-label">Nombre</label>
              <input type="text" class="form-control" id="full_name_id" name="nombre" placeholder="Nombre">
            </div>


            <div class="form-group">
              <label for="full_name_id" class="control-label">Apellidos</label>
              <input type="text" class="form-control" id="apellidos" name="full_name" placeholder="Apellidos">
            </div>

            <div class="form-group">
              <label for="street1_id" class="control-label">Street Address 1</label>
              <input type="text" class="form-control" id="street1_id" name="direccion" placeholder="Direccion">
            </div>

            <div class="form-group">
              <label for="full_name_id" class="control-label">Sueldo</label>
              <input type="number" class="form-control" id="sueldo" name="sueldo" placeholder="Sueldo">
            </div>

          </div>


          <div class="col">

            <div class="form-group">
              <label for="full_name_id" class="control-label">Descuento</label>
              <input type="number" class="form-control" id="descuento" name="descuento" placeholder="Descuento">
            </div>

            <div class="form-group">
              <label for="full_name_id" class="control-label">Comisión</label>
              <input type="number" class="form-control" id="comision" name="comision" placeholder="Comisión">
            </div>

            <div class="form-group">
              <label for="full_name_id" class="control-label">Celular</label>
              <input type="tel" class="form-control" id="celular" name="celular" placeholder="Celular">
            </div>

            <div class="form-group">
              <label for="state_id" class="control-label">Provincia</label>
              <select class="form-control" id="state_id">
                <option>Santo Domingo</option>
                <option>Distrito Nacional</option>
                <option>Santiago</option>
                <option>San Cristóbal</option>
                <option>La Vega</option>
                <option>Puerto Plata</option>
                <option>San Pedro de Macorís</option>
                <option>Duarte</option>
                <option>La Altagracia</option>
                <option>La Romana</option>
                <option>San Juan</option>
                <option>Espaillat</option>
                <option>Azua</option>
                <option>Barahona</option>
                <option>Monte Plata</option>
                <option>Peravia</option>
                <option>Monseñor Nouel</option>
                <option>Valverde</option>
                <option>Sánchez Ramírez</option>
                <option>María Trinidad Sánchez</option>
                <option>Montecristi</option>
                <option>Samaná</option>
                <option>Bahoruco</option>
                <option>Hermanas Mirabal</option>
                <option>El Seibo</option>
                <option>Hato Mayor</option>
                <option>Dajabón</option>
                <option>Elías Piña</option>
                <option>San José de Ocoa</option>
                <option>Santiago Rodríguez</option>
                <option>Independencia</option>
                <option>Pedernales</option>
              </select>
            </div>

            <div class="form-group">
              <label for="city_id" class="control-label">Sector</label>
              <input type="text" class="form-control" id="city_id" name="city" placeholder="Sector">
            </div>
          </div>
        </div>

        <div class="form-group float-right">
          <button type="submit" class="btn btn-success mr-2"><i class="fa fa-save"></i> Guardar</button>
          <button class="btn btn-danger"><i class="fa fa-trash"></i> Cancelar</button>
        </div>

      </form>

    </div>
  </div>
</div>
